html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.custom {
  h1 {
    font-size: 2rem;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

input:autofill {
  background: hsl(var(--b1) / var(--tw-bg-opacity));
}

._ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  max-width: 130px;
}

input {
  background-color: initial;
}
