[data-theme='grob_energy'] {
  --p: 87 51% 49%; // changed
  --pf: 87 38% 49%; // changed
  --sf: 182 51% 28%; // changed
  --af: 180 12% 77%; // changed
  --nf: 0 0% 62%; // changed
  --in: 198 93% 60%;
  --su: 158 64% 52%;
  --wa: 43 96% 56%;
  --er: 0 91% 71%;
  --inc: 198 100% 12%;
  --suc: 158 100% 10%;
  --wac: 43 100% 11%;
  --erc: 0 100% 14%;
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --pc: 0 0% 100%;
  --s: 182 72% 28%; // changed
  --sc: 0 0% 100%;
  --a: 174 60% 51%; // changed
  --ac: 180 30% 77%; // changed
  --n: 0 0% 72%; // changed
  --nc: 0 0% 100%;
  --b1: 0 0% 100%;
  --b2: 0 0% 95%;
  --b3: 180 2% 90%;
  --bc: 215 28% 17%;
}
